.demons {
    height: auto;
    position: relative;

    &__body{
        height: 100%;
    }
    
    &__image {
        width: 100%;
        height: 100%;
    }

    &__title2 {
        padding-bottom: 8px;
    }

    &__paragraph {
        height: 154px;
        overflow: hidden;
        max-width: 100%;
        transition: height 1s ease-out;
    }

    .active{
        height: 420px;
        width: 708px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .demons{

        &__content {
            width: 50vw !important;
            height: 19.3vh;
            box-shadow: inset 0px 0px 30px 100vh rgba($color: #000000, $alpha: 0.9),
            0px 0px 20px 30px rgba($color: #000000, $alpha: 0.9);
            top: 20% !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    .demons{
        height: 44vh;

        &__content {
            max-width: 100vw;
            height: 32vh;
            top: 8%;
            left: 0;
            margin: 5%;
            box-shadow: inset 0px 0px 30px 200px rgba($color: #000000, $alpha: 0.9),
            0px 0px 5px 10px rgba($color: #000000, $alpha: 0.9);
        }
    }
}