.hunter {
    position: relative;
    height: auto;
    
    &__body{
        height: 100%;
    }
    
    &__image{
        width: 100%;
        height: 100%;
    }

    &__title2 {
        padding-bottom: 8px;
    }

    &__dialog {
        top: 25%;
        max-width: 50%;
        left: 25%;
        background-color: rgba($color: #000000, $alpha: 0.9);
        box-shadow: 0px 0px 30px 40px rgba($color: #000000, $alpha: 0.9);
        color: red;
        border: none;
        padding: 20px;
    }

    &__paragraph {
        height: 176px;
        overflow: hidden;
        max-width: 100%;
        transition: height 1s ease-out;       
    }

    .active{
        height: 480px;
        width: 740px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .hunter {

        &__content {
            width: 50vw !important;
            height: 22vh;
            box-shadow:0px 0px 20px 30px rgba($color: #000000, $alpha: 0.9);
            top: 24% !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    .hunter {
        height: 47vh;

        &__content {
            max-width: 100%;
            height: 36vh;
            top: 6%;
            left: 0;
            margin: 5%;
            box-shadow:0px 0px 5px 10px rgba($color: #000000, $alpha: 0.9);
        }

    }
}